[buildout]
parts = anyblok_pyramid_beaker sphinx
versions = versions

extensions = gp.vcsdevelop
vcs-extend-develop = hg+http://bitbucket.org/jssuzanne/anyblok_pyramid_beaker#egg=anyblok_pyramid_beaker
vcs-update = true

[anyblok_pyramid_beaker]
recipe = zc.recipe.egg
eggs = anyblok
       anyblok_pyramid
       anyblok_pyramid_beaker
       WebTest
       psycopg2
       flake8
       coverage
       nose
       gunicorn

interpreter = python

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/erpblok/doc
build = ${buildout:directory}/erpblok/doc/_build
eggs = anyblok
       anyblok_pyramid
       anyblok_pyramid_beaker
       WebTest
       sphinx_bootstrap_theme

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[versions]
